/* Basislayout */
*{
  box-sizing:border-box;
  overflow:auto;
  margin:0px; 
}
html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #161313;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
padding-top: 20px;
}

header {
    color: rgb(69, 121, 141);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.rij {

}

.box-links {
 float: left;
 width: 45%;
 padding-top: 20px;
}

.box-rechts {
  float: right;
  width: 45%;
  padding-top: 20px;
}

.tekst-links {
  float: left;
  padding-top: 15px;
}

.tekst-rechts {
  float: right;
  padding-top: 15px;
}

.tekst-dutch-open{
  float: right;
}

/* specifieke stijlen */

p{
  margin-top: 15px;
}

img.zweefLinks {
    float: left;
    margin-right: 15px;
    padding-top: 10px;
    width: 250px;

}
img.zweefrechts{
  float: right;
  margin-left: 15px;
}

#plaatje-box-links{
width: 100%
}

#plaatje-box-rechts {
width: 100%
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}




